$header: 'Oswald', sans-serif;
$text: 'Lato', sans-serif;
$text-colour: #333333;
$cat-colour: #02aded;
$title-colour: #7a7b7c;

@mixin headers($size, $weight, $colour){
  color: $colour;
  font-family: $header;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 1.5px;
}

body{
  font-family: $text;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: $text-colour;
  background-color: #f8f8f8;
}
nav{
  background-color: #333032;
}
nav{
  li{
    a{
      color: #FFFFFF;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    a:hover{
      color: $cat-colour;
    }
  }
  ul:hover{
    background-color: transparent;
  }
  #navbar-brand{
    img{
      padding-top: 12px;
    }
  }
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  background-color: transparent
}
header{
  .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 40%;
  }
  h1{
    @include headers(70px, 400, #FFFFFF);
    text-transform: uppercase;
    text-align: center;
  }
  h2{
    @include headers(50px, 300, #FFFFFF);
    text-align: center;
  }
  .homepage-hero-module {
      border-right: none;
      border-left: none;
      position: relative;
  }
  .no-video .video-container video,
  .touch .video-container video {
      display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
      display: block !important;
  }
  .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000;
  }
  .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute;
  }
  .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
  }
  .video-container video {
      position: absolute;
      z-index: 0;
      bottom: 0;
  }
  .video-container video.fillWidth {
      width: 100%;
  }
}

.synopsis{
  margin-top: 50px;
  background: #FFFFFF;
  padding: 30px;
}
.posts{
  article{
    background-color: #FFFFFF;
    height: 310px;
    padding-right: 20px;
    width: 32%;
    margin-top: 2%;
    margin-right: 2%;
  }
  article:nth-child(3n+3){
    margin-right: 0;
  }
  article{
    .category{
      @include headers(18px, 300, $cat-colour);
      text-transform: uppercase;
      line-height: 29px;
      width: 100%;
    }
    .category:hover{
      text-decoration: none;
      color: $cat-colour;
    }
    .title{
      @extend .category;
      color: $title-colour;
    }
    .title:hover{
      text-decoration: none;
      color: $title-colour;
    }
    img{
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
    }
    img:hover{
      -webkit-filter: grayscale(100%);
    }
    time{
      font-size: 12px;
    }
    .space{
      height: 2px;
      width: 100%;
      margin-top: 5px;
    }
  }
}
.blog-article{
  article{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1{
    @include headers(42px, 300, $title-colour);
    text-align: center;
  }
  .article-category{
    @include headers(42px, 300, $cat-colour);
  }
  .article-category:hover{
    text-decoration: none;
  }
  .details{
    text-align: center;
    margin-bottom: 10px;
  }
  img{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .addthis_sharing_toolbox{
    margin-bottom: 50px;
    text-align: center;
  }
}
footer{
  margin-top: 50px;
  margin-bottom: 50px;
}
//prism css
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+git+php+php-extras+sass+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f8f8f8;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
